<div>
  <h1>Login Here</h1>
  <form action="/sessions" method="post">
    <label>Email:</label>
    <input type="email" name="email"/>
    <label>Password:</label>
    <input type="password" name="password"/>
    <div>
      <input type="submit" value="login" name="submit"/>
    </div>
  </form>
</div>
