<div class="container">

  <h1>Register</h1>

  <div>
    <form class="registration" action="/users" method="post">
      <p><input type="text" name="user[username]" placeholder="User name"></p>
      <p><input type="text" name="user[email]" placeholder="E-mail"></p>
      <p><input type="password" name="user[password]" placeholder="password"></p>
      <p><input type="submit" name="Register"></p>
    </form>
  </div>
</div>
